<%- include('partials/header', { countries: countries }) %>

<meta name="google-site-verification" content="wGBbu10b3JngAR6BGzUX7pZgx1drMmzkP3HhqFJJnX4" />

<meta name="description" content="Yurt içi ve yurt dışı tatil rotaları,yemek rehberi ,nerede ne yenir,toplu taşıma, toplu taşıma fiyatları, nasıl validate edilir ,gezilecek yerler ve seyahat ipuçları.">
<meta name="keywords" content="tatil, gezi, seyahat, rota, yemek, nerede ne yenir, gezilecek yerler, gezi rotaları,toplu taşıma, toplu taşıma fiyatları, nasıl validate edilir, yurtdışı,yurt dışı toplu taşıma, toplu taşıma fiyatları, toplu taşıma ,yurtiçi, blog">
<meta name="robots" content="index, follow">
    <section class="section-heading">
        <h1><%= country.name %>'da Gezilecek Yerler, Keşfedilecek Şehirler</h1>
        <p><%= country.name %> içinde sizi bekleyen birbirinden güzel şehirler.</p>
    </section>
    <h1></h1>
    <div class="card-grid">
        <% if (cities.length > 0) { %>
            <% cities.forEach(function(city) { %>
                <div class="card city-card">
                    <a href="/city/<%= city.id %>">
                        <img src="<%= city.image %>" alt="<%= city.name %>">
                        <div class="card-content">
                            <h3><%= city.name %></h3>
                            <p><%= city.description.substring(0, 100) %>...</p>
                        </div>
                    </a>
                </div>
            <% }); %>
        <% } else { %>
            <p><%= country.name %> için henüz şehir bilgisi bulunmamaktadır.</p>
        <% } %>
    </div>
    <div class="back-link">
        <a href="/">Tüm Ülkelere Geri Dön</a>
    </div>

<%- include('partials/footer') %>