<%- include('partials/header', { countries: countries }) %>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WKL2F5VG');</script>
<!-- End Google Tag Manager -->
    <section class="section-heading">
        <h1><%= country.name %> Keşfedilecek Şehirler</h1>
        <p><%= country.name %> içinde sizi bekleyen birbirinden güzel şehirler.</p>
    </section>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKL2F5VG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="card-grid">
        <% if (cities.length > 0) { %>
            <% cities.forEach(function(city) { %>
                <div class="card city-card">
                    <a href="/city/<%= city.id %>">
                        <img src="<%= city.image %>" alt="<%= city.name %>">
                        <div class="card-content">
                            <h3><%= city.name %></h3>
                            <p><%= city.description.substring(0, 100) %>...</p>
                        </div>
                    </a>
                </div>
            <% }); %>
        <% } else { %>
            <p><%= country.name %> için henüz şehir bilgisi bulunmamaktadır.</p>
        <% } %>
    </div>
    <div class="back-link">
        <a href="/">Tüm Ülkelere Geri Dön</a>
    </div>

<%- include('partials/footer') %>